/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #336666;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
font-family: Georgia;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:   #3C424E;
}

/* Current/active navbar link */
.active {
		
  background-color:   #3C424E;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
	
  }
}
.Hero-Img1{
	background-image: url("oleksii-drozdov-pwzI7eQBipc-unsplash.jpg");
	background-repeat: repeat;
}
.font{
	color: gainsboro;
	font-family: Georgia;
}